body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    color: #32cd32;
}

.intro {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    border: 2px solid green;
    border-radius: 40px;
    box-shadow: 3px 3px green;
    margin-bottom: 20px;
}

.words {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
}

p {
    font-size: 3rem;
    margin-top: 10px;
    padding-top: 0;
}

